<form action="#" class="container mdl-color--white mdl-shadow--2dp">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" [(ngModel)]="username" name="username"(keyup)="searchUser()" >
        <label class="mdl-textfield__label">Enter Github Username...</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
  </div>
</form>

<div *ngIf="user" class="container mdl-color--white mdl-shadow--2dp" >
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="demo-card-image mdl-card mdl-shadow--2dp" [ngStyle]="{ 'background-image': 'url(' + user.avatar_url + ')'}">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="demo-card-image__filename">{{user.name}}</span>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <span class="mdl-chip mdl-chip--contact">
        <span class="mdl-chip__contact mdl-color--grey mdl-color-text--white">{{user.public_repos}}</span>
        <span class="mdl-chip__text">Public Repos</span>
      </span>
      <span class="mdl-chip mdl-chip--contact">
        <span class="mdl-chip__contact mdl-color--grey mdl-color-text--white">{{user.public_gists}}</span>
        <span class="mdl-chip__text">Public Gists</span>
      </span>
      <span class="mdl-chip mdl-chip--contact">
        <span class="mdl-chip__contact mdl-color--grey mdl-color-text--white">{{user.followers}}</span>
        <span class="mdl-chip__text">Followers</span>
      </span>
      <span class="mdl-chip mdl-chip--contact">
        <span class="mdl-chip__contact mdl-color--grey mdl-color-text--white">{{user.following}}</span>
        <span class="mdl-chip__text">Following</span>
      </span>
      <div>
        <ul class="demo-list-icon mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">person</i>
            Username: <strong style="padding-left:10px">{{user.login}}</strong>
        </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">place</i>
            Location: <strong style="padding-left:10px">{{user.location}}</strong>
          </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">email</i>
            Email: <strong style="padding-left:10px">{{user.email}}</strong>
          </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">public</i>
            Blog: <strong style="padding-left:10px">{{user.blog}}</strong>
          </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="repos" class="container mdl-color--white mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">User Repos</h2>
  </div>
  <div *ngFor="let repo of repos" class="mdl-card__actions mdl-card--border">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--9-col">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank" href="{{repo.html_url}}">
          {{repo.name}}
        </a>
        <p style="padding-left:15px;">{{repo.description}}</p>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <div style="padding-top:10px">
          <span class="mdl-chip mdl-chip--contact">
            <span class="mdl-chip__contact mdl-color--grey mdl-color-text--white">{{repo.watchers}}</span>
            <span class="mdl-chip__text">Watchers</span>
          </span>
          <span class="mdl-chip mdl-chip--contact">
            <span class="mdl-chip__contact mdl-color--indigo mdl-color-text--white">{{repo.forks}}</span>
            <span class="mdl-chip__text">Forks</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>